.avatarka {
    width: 200px;
    height: auto;
    background-color: black;
    border-radius: 100px;
    margin-top: 25px;
}

.flexul {
display: flex;
list-style: none;
gap: 6px;
justify-content: center;
}

.flexli {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    border: solid black;
    width: 150px;
    border-radius: 6px;
    margin-right: 20px;
}

.container{
    border: solid black;
    border-radius: 5px;
}

.fol {
    font-weight: 700;
}